body{
  max-width: 380px;
  margin: auto;
}

header {
  text-align: center;
  background-image: url(../img/image-fruit.webp);
  background-size: cover;
  padding: 110px 110px;
}

.title-container {
  background: white;
  
  width: 150%;
}

