body{
  max-width: 380px;
  margin: auto;
}

header {
  text-align: center;
  background-image: url(../img/image-fruit.webp);
  background-size: cover;
  padding: 110px 110px;
}

.title-container {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.89);
  color: #57bb6b;
  font-size: 20px;
}

.juice-button {
  background-color: #57bb6b;
}

.description {
  font-family: 'Quattrocento', serif;
  text-align: center;
  margin-right: 60px;
  margin-left: 60px;
}

.label-container {
  margin-top: 97px;
  margin-right: 60px;
  margin-left: 60px;
}

h2 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 26px;
  text-align: center;
}

.juice-content {
  display: flex;
  justify-content: space-between;
  margin: 42px 68px 68px;
  height: 27px;
  margin-bottom: 97px;
}

main {
  background: #57bb6b;
}

.title-fruit {
  color: #FCF7F7;
  padding-top: 45px;
}

h3 {
  font-family: 'Sriracha', cursive;
  font-size: 30px;
}

.juice-banana {
  background: #FCF7D6;
  border-radius: 20px;
  margin: 29px;
  padding: 29px;
}

.juice-banana-content img {
  height: 64px;
}

.juice-banana-content {
  font-family: 'Maven Pro', sans-serif;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.juice-banana-content a {
  align-self: flex-end;
}

.juice-banana h3 {
  margin: auto;
}

.description-content {
  margin-top: 5px;
  font-family: 'Quattrocento', serif;
  opacity: 50%;
}